<div class="row">
    <div class="d-none d-md-block col-md-2">
        <webapplications-sidebar></webapplications-sidebar>
    </div>
    <div class="d-none d-md-block col-md-1">
    </div>
    <div class="col-sm-12 col-md-8">
            <div class="mainContainer">
                <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Web-Applications']">Web Applications</a> >> <a [routerLink]="['/Web-Applications/Emaily']"> Emaily</a>
                <br>
                <h1>Emaily</h1>
                <br>
                <div class="headerContainer">
                        <img src="/images/emaily/emaily700x330.jpg">
                </div>
                <br>
                <p>{{paragraphs[0]}}</p>
                <br>
                <br>
                <p>

                  </p>
        </div>
        </div>
    </div>