<div class="row">
        <div class="d-none d-md-block col-md-2">
            <webapplications-sidebar></webapplications-sidebar>
        </div>
        <div class="d-none d-md-block col-md-1">
        </div>
        <div class="col-sm-12 col-md-8">
                <div class="mainContainer">
                    <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Web-Applications']">Web Applications</a> >> <a [routerLink]="['/Web-Applications/Stock-Market-Searcher']"> Stock Market Searcher</a>
                    <br>
                    <h1>Stock Market Searcher</h1>
                    <br>
                    <div class="headerContainer">
                            <img src="/images/stockmarketsearcher/preview700x330.png">
                    </div>
                    <br>
                    <p>The stock market searcher uses a REST API to fetch data on stock market prices.  It includes auto-complete for stock symbols, and charts about the stock history.</p>
                    <br>
                    <br>
                    <p>
    
                      </p>
            </div>
            </div>
        </div>