<div class="row">
        <div class="d-none d-md-block col-md-2">
            <websites-sidebar></websites-sidebar>
        </div>
        <div class="d-none d-md-block col-md-1">
        </div>
        <div class="col-sm-12 col-md-8">
                <div class="mainContainer">
                    <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Websites']">Websites</a> >> <a [routerLink]="['/Websites/850-Warwick-Avenue-Apartments']">850 Warwick Avenue Apartments</a>
                    <br>
                    <h1>850 Warwick Avenue Apartments</h1>
                    <br>
                    <div class="headerContainer">
                            <img src="/images/850warwick/850warwick700x330.jpg">
                    </div>
                    <br>
                    <p>850 Warwick Avenue Apartments is a 50-unit apartment complex.</p>
                    <br>
                    <br>
                    <p>
                   Sean Sharma designed the front-end from scratch.  It uses WordPress as a CMS, and a custom theme based off BootStrap made by Sean.  The website shows the property to potential renters, and provides them with a renters application.
                   The client has the ability to post newsletters and edit the rules and regulations without having to contact the developer through the CMS.
                    </p>

                    <br><br>
                    <a class="visitButton" href="https://850warwickapartments.com/" target="_blank">Visit Website</a>
          
            </div>
            </div>
        </div>