<div class="row">
    <div class="d-none d-md-block col-md-2">
        <projects-sidebar></projects-sidebar>
    </div>
    <div class="d-none d-md-block col-md-1">
    </div>
    <div class="col-sm-12 col-md-8">
            <div class="mainContainer">
                <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Projects']">Projects</a> >> <a [routerLink]="['/Projects/Search-Engine']">{{header}}</a>
                <br>
                <h1>{{header}}</h1>
                <br>
                <div class="headerContainer">
                        <img src="{{images[1]}}">
                </div>
                <b>Web Crawler</b>
    <p>The web crawler uses crawler4j to gather statistics off of websites.  It reads the robots.txt and uses HTTP Requests to gather information.In this case it's gathering file sizes, http statuses encounter, content types, unique links, links, and outgoing links off of websites.  It also downloads the webpages found that are html file types so that we can index them.</p>
      <b>Search Engine</b>
     <p>I took the downloaded files and stored them on an ubuntu server.  I used solr to index the files onto a database for searching.</p>
      <p>Finally, using an solr php client I set up a local webpage to search the crawled information.  Showing the top ten results for solr's default ranking algorithm.</p>
      <p>Using java to read the html's I extracted the links and mapped them to html's in the database.  Using Networkx in Python I took the file generated about the extracted links and calculated page ranks for all of the pages.  The page's values were put into Solr as a sorting method.</p>
      <b>SpellCorrection</b><br>
      <p>I used norvig's php spell correction file  and the Simple HTML DOM php program.  Then, I edited the php program provided by norvig so that it read 
each file from my html directory.  The simple HTML DOM Program took the source text and converted it all to plain text.  Next, I
removed all of the tags from the plain text that were any displayed on the htmls.  Norvig's trained the set of correct words on the plain text by 
counting the occurences and probability of each word occuring.  When a word was submitted during the query if the c parameter wasn't specified then the word was sent into spellcorrect.  
If it was specified then the program ignores the spell correction and returns the results. In the case of more than one word in a query, 
the string is delimited into separate words.  Each word is separately put into the spell corrector, and then
re-concatenated.  I handled spelling correct similar to google.  Some different ways of handling spelling correction were suggested (such as showing the uncorrected version's results first), but
I figured it was safer to just copy the way google handles it.  If the returned spell corrected word is the same (case insensitive) as the original, then the query results are shown without a message.  If the spell
correction and original are different then it shows the results with the corrected version. It displays a message asking the user saying that it's displaying the corrected version and
asks the user if it wants instead search for the incorrect spelling with a link to the query with the c parameter set to ignore spell correction.</p>
<b>
        <div class="headerContainer">
                <img src="{{images[3]}}">
        </div>
Autocomplete </b><br> <p>I used solr's autocomplete functionality and the jquery autocomplete library.  First I followed the steps to setting up the fuzzylookup factory
in the tutorial.  The only difference made, was that we set the count of suggestions to be 30 instead of 5.  This number didn't
cause a noticeable delay, and provided a more than sufficient number of suggestions that could be parsed by my system and filtered.
I also utilized the autocomplete jquery component using ajax calls, the call retrieves the suggestions for the last word that
was previously typed.  It pretends the current string before the last word to the suggestions for the last word.  Words are
filtered out if they contain nonalphanumerics.  Words are also filtered out if they contain a stop word, unless the stop word
is part of the pre-pended string that was already typed by the user. I used http://www.ranks.nl/stopwords as my source for stop words, putting all of the words into an 
array.  I removed "go",since Pokemon Go can be a proper noun.  The non-pretended string was split by their whitespaces,
and tested agaisnt the array.  The array is sliced to only include the first 5 (top 5) words.  The (max 5) suggestions are showed and pretended to the already-typed
words.
      </p>

    <b>Snippets:</b><br><p>  First, the result is opened locally.  We obtained the text between the head tags, and then the body tags.  We used the simple HTML Dom php program to parse the
content into plain text, and We removed tags.  Originally we split each sentence into an array; however, this approach had performance issues.  We optimized
the algorithm to instead search sentence by sentence using the next occurence of a ". " (period with a space after).  In the first check, it checks to see 
that the sentence contains all of the query words, and returns the first sentence that does.  The snippet is found if there exists such a sentence; however,
if there doesn't it starts from the beginning.  This time it returns the sentence as the valid snippet if it finds one of the terms in the sentence.  If none
of the terms are found, then the snippet isn't displayed.
      </p>
      <br>
FIVE examples of misspelled terms:<br>
before autocorrect -> after autocorrect<br>
1. calfornia wildd fires -> california wild fires<br>
2. donall trump -> donald trump<br>
3. rio olympcs -> rio olympics<br>
4. harrye potter -> harry potter<br>
5. naro -> nato<br><br>

FIVE examples of auto correct<br>
currently typed -> suggestion 1, suggestion 2, suggestion 3 , ... etc.<br>
1. Pokemon Go<br>
P -> parsed,privacy, policy, png, path<br>
Po -> po, policy, politics, position, popular<br>
Pok -> pok, policy, politics, position, popular<br>
Poke -> poke, power, powered, potential, powerful<br>
Pokem -> poem, podemos, poems, poker, pokemon<br>
Pokemo -> podemos, pokemon, podemoses, ponemos, popemobile<br>
Pokemon -> pokemon, ponemon<br>
Pokemon G -> pokemon group, pokemon global, pokemon guidance, pokemon go, pokemon generated<br>
Pokemon Go -> pokemon go, pokemon government, pokemon good, pokemon going, pokemon golf<br>
<br>
2. Rio Olympics<br>
R -> resourcename, rect, robots, return, require<br>
Ri -> ri, rights, ribbon, riot, rig<br>
Rio -> rio, robots, rights, ribbon, room<br>
Rio O -> rio o, rio of, rio on, rio off, rio only<br>
Rio Ol -> rio ol, rio old, rio oldonload, rio oliphant, rio olympics<br>
Rio Oly -> rio oly, rio only, rio old, rio oldonload, rio oliphant<br>
Rio Olym -> rio olympics, rio olympic, rio olympians, rio olympian, rio olmsted<br>
Rio Olymp -> rio olympics, rio olympic, rio olympians, rio olympian, rio olympia<br>
Rio Olympi -> rio olympics, rio olympic, rio olympians, rio olympian, rio olympia<br>
Rio Olympic -> rio olympic, rio olympics, rio olympians, rio olympian, rio olympia<br>
Rio Olympics -> rio olympics, rio olympic, rio olympism, rio olympicsrdf, rio olympcis<br>
<br>
3. Brazil<br>
B -> border, button, bottom, business, body<br>
Br -> br, breaking, brand, branding, browser<br>
Bra -> bra, banner, black, breaking, brand<br>
Braz -> braz, brand, branding, brain, brazil<br>
Brazi -> brain, brazil, brazilian, brains, braking<br>
Brazil -> brazil, brazilian, brazilians, brasil, brasilia<br>
<br>
4. Dow Jones<br>
D -> description, document, default, device, digital<br>
Do -> document, domain, download, dom, doc<br>
Dow -> dow, document, domain, download, dom<br>
Dow J -> dow jpg, dow javascript, dow js, dow jan, dow jquery<br>
Dow Jo -> dow jo, dow journalists, dow joe, dow jobs, dow journeys<br>
Dow Jon -> dow jon, dow jan, dow json, dow journalists, dow joe<br>
Dow Jone -> dow jone, dow joe, dow june, dow jones, dow joined<br>
Dow Jones -> dow jones, dow jokes, dow jonas, dow jonspoel, dow joes<br>
<br>
5. Donald Trump<br>
D-> description, document, default, device, digital<br>
Do -> document, domain, download, dom, doc<br>
Don -> don, document, domain, download, dom<br>
Dona -> dona, domain, donald, dont, dna<br>
Donal -> donal, donald, donate, donated, donations<br>
Donald -> donald, donaldson, donadio, donaldjtrumpjr, donaldbernie<br>
Donald T -> donald text, donald type, donald top, donald terms, donald title<br>
Donald Tr -> donald tr, donald true, donald travel, donald track, donald triangle<br>
Donald Tru -> donald touch, donald true, donald travel, donald track, donald triangle<br>
Donald Trum -> donald true, donald thumbnail, donald thumbstandard, donald thumb, donald thumblarge<br>
Donald Trump -> donald trump, donald trumps, donald triumph, donald trump2, donald triumphs<br>
        </div>
        </div>
    </div>