<div class="row">
        <div class="d-none d-md-block col-md-2">
            <websites-sidebar></websites-sidebar>
        </div>
        <div class="d-none d-md-block col-md-1">
        </div>
        <div class="col-sm-12 col-md-8">
                <div class="mainContainer">
                    <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Websites']">Websites</a> >> <a [routerLink]="['/Websites/Head-Parsers-Gaming']">850 Warwick Avenue Apartments</a>
                    <br>
                    <h1>Head Parsers Gaming</h1>
                    <br>
                    <div class="headerContainer">
                            <img src="/images/headparsers/HeadParsers700x330.jpg">
                    </div>
                    <br>
                    <p>The Head Parsers is a Free Company in the MMORPG Final Fantasy XIV</p>
                    <br>
                    <br>
                    <p>
                   Sean Sharma designed the front-end from scratch.  The website has a forum using phpBB added on to a sub domain, scripts displaying server statuses, and information about
                the group.     </p>
                <br><br>
                <a class="visitButton" href="https://headparsers.com/" target="_blank">Visit Website</a>
      
            </div>
            </div>
        </div>