<div class="row">
        <div class="d-none d-md-block col-md-2">
            <websites-sidebar></websites-sidebar>
        </div>
        <div class="d-none d-md-block col-md-1">
        </div>
        <div class="col-sm-12 col-md-8">
                <div class="mainContainer">
                    <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Websites']">Websites</a> >> <a [routerLink]="['/Websites/Krys-Towers-Web-Development']">Krys Towers Web Development</a>
                    <br>
                    <h1>Krys Towers Web Development</h1>
                    <br>
                    <div class="headerContainer">
                            <img src="/images/krystowers/krystowers700x330.png">
                    </div>
                    <br>
                    <p>Krys Towers Web Development was made from scratch by me to perform freelance web services for clients.  Typically clients required a website for their small business, and CMS features to post
                    updates to their customers.</p>
                    <br>
                    <br>
                    <p>
                    Most of the Krys Towers Web Development website are static html pages.  The animations on the main page are done through a mixture of javascript and css.  Initially, the website
                    started out as a simple 5 page website, then grew into a full-blown detailed website.  The payment part of the website found at pay.krystowers.com saves existing customers, allows customers to update their information,
                    and securely sends customers to my Bank's merchant service payment gateway for payments.
                    </p>

                    <br><br>
                    <a class="visitButton" href="https://krystowers.com/" target="_blank">Visit Website</a>
            </div>
            </div>
        </div>