
<!--<div class="row introRow">
        <div class="col-md-1"></div>
        <div class="col-md-10">
<div class="">
            
        <div class="row">
        <div class="leftPartition col-md-5">
   <div class="leftContainer">
                <div class="image-cropper">
<img class="aboutImage" src="https://krystowers.com/style/images/art/about.png?2">
                </div>
     </div></div>
     <div class="middlePartition">
     <div class="middleContainer">
     </div>
</div>
     <div class="col-md-7 rightPartition">
        
     <div class="rightContainer">
        <div class="innerContainer">
                       

<br><br><br><br>


<h2>Sean Sharma</h2><br>
<p>This website showcases my computer science work I've done in the past four years.  I hope you enjoy what you see.  If you have any questions or concerns feel free to email me at seanmakosharma@gmail.com .
Happy web surfing!</p>
        </div>

     </div></div>
</div>
</div>
        </div>
        <div class="col-md-1">

        </div>-->

<div class="row introRow">
        <div class="col-sm-hidden col-md-4">

        </div>
        <div class="col-md-4">
        <h1>Sean Sharma</h1>
        <p>Full-Stack Web Developer</p>
        </div>
        <div class="col-md-3">
                        <div class="image-cropper">
                                        <img class="aboutImage" src="https://krystowers.com/style/images/art/about.png?2">
                        </div>
        </div>
        </div>

<intro-preview></intro-preview>
