
            <div class="row">
                    <div class="d-none d-md-block col-md-2">
                            <projects-sidebar></projects-sidebar>
                    </div>
                    <div class="d-none d-md-block col-md-1">
                    </div>
                    <div class="col-sm-12 col-md-8">
                <div class="mainContainer">
                    <a [routerLink]="['/']">Home</a> >> <a [routerLink]="[LinkPrefix]">Projects</a>
                    <br>
                    <h1>{{mainHeader}}</h1>
                    <br>
                   {{mainParagraph}}<br><br>
                   <PreviewMain [Data]="thisData" [LinkPrefix]="LinkPrefix"></PreviewMain>
                   
            
                </div>
        </div>