<div class="sidebar">
        <ul class="sidebar-list">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects']"><h1>Projects</h1></a></li>
               
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects/Stock-Market-Searcher-Android']">Stock Market Searcher Android App</a></li>         
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects/Polyseum']">Polyseum</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects/Search-Engine']">Web Crawler and Solr Search Engine</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects/Video-Highlight-Creator']">Video Highlight Creator</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects/Image-Compressor']">JPEG/JPEG2000 Image Compressor</a></li>
                 </ul>

</div>