$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
$font-size:16px;
$primary-color:green;

$rubik: 'Rubik', sans-serif;
$openSans: 'Open Sans', sans-serif;
$robotoCondensed:'Roboto Condensed', sans-serif;
$oswald:'Oswald',sans-serif;
$navbar-link-color:rgba(230,230,230,1.0);//#363231;
$navbar-link-hover:rgba(75,146,245,1);
$navbar-brand:rgb(240,240,240);
$navbarBackground:rgba(0,0,0,.9);

$navbarBorderBottomColor:rgba(30,30,30,1);
$navbarBorderBottomSize:1px;
$darkgreen:rgb(90, 113, 0);
$darkBlue:rgba(39,116,217,1);
$skyBlue:rgba(75,146,245,1);
$lightBlue:rgba(178,204,244,1);
$darkNavy:rgba(0,0,0,.9);
$lightGray:rgba(230,230,230,0.9);
$darkGray:rgba(125,125,125,1);
$mildGray:#f2f2f2;
html {
    height: 100%
}
body {
    font: $font-size $openSans;
    background-color:$mildGray;
    background-image:url("/images/Background.jpg");
    background-repeat: no-repeat;
    background-color:#ffffff;
    background-size:80% auto;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
    a {
      color: $primary-color ;
    }
 .navbar{
    background-color:$navbarBackground;
    /*border-bottom:$navbarBorderBottomSize solid $navbarBorderBottomColor;*/
}
.nav-divider{
    padding-left:50px;
    padding-right:50px;
}
.nav-link{

    margin-left:5px;
    margin-right:5px;
    transition: color 0.2s linear;
    color:$navbar-link-color
}
.nav-link:hover{
    color:$navbar-link-hover;
}
.navbar-brand{
    color:$navbar-brand;
}
.aboutImage{
   
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);

}


.dividerIntro{
    margin-top:200px;
    background:rgba(0,0,0,.9);
    padding-top:30px;
    padding-bottom:30px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.leftIntroPartition,.rightIntroPartition{
    background:white;
}
.previewContainer{
    background:rgba(0,0,0,0.7);
    padding-top:30px;
    padding-bottom:200px;
}
.row{padding-left:10px;
padding-right:10px;}
.image-cropper {
   
    
}

.intro-item img{
    position:relative;
    max-width:100%;
}
.image-cropper img{
    height: auto;
   margin-left:0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.introRow{
   /* box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);*/
   /* border-top:10px solid $lightGray;
    border-bottom: 10px solid $lightGray;*/
   margin-top:300px;
    z-index:10;
  padding-left:100px;
   /* background-color:white;*/
}
.introRow h1{
    font-size:60px;
    font-family: 'Lato', sans-serif;
    text-transform:uppercase;
    font-weight:800;
  
}
.introRow p{
  
    font-size:25px;
}
.middlePartition{
    
    padding-left:0px !important;
    padding-right:0px !important;
    position:relative;
}

.leftMiddleContainer{

}
.leftPartition{
    background-color:white;
}
.middleContainer{
    
    -webkit-clip-path: polygon(45% 0%, 100% 0%, 55% 100%, 0% 100%);
    clip-path: polygon(45% 0%, 100% 0%, 55% 100%, 0% 100%);
    padding-left:50px;
    padding-right:50px;
    height:100%;
    position: absolute;
    left:-50px;
    top:0;
    background-color:$lightGray;
    z-index:9998;
}
.rightContainer{
    padding-left:120px;
    padding-right:40px;
    padding-top:90px;
    padding-bottom:170px;

}
.rightPartition{
    background-color:white;
}


.mainContainer{
    padding-top:50px;
    padding-bottom:50px;
    padding-left:80px;
    padding-right:80px;
    background:rgba(245,255,245,1.0);
    margin-top:200px;
}