<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="mainContainer"  style="position: relative;">
            <h1>Resume</h1>   
       
            LinkedIn:  <a href="https://www.linkedin.com/in/sean-sharma-3581937b/" target="_blank">https://www.linkedin.com/in/sean-sharma-3581937b/ </a>
            <br>
            <br>
            <h2>Work History</h2>
            
            <br class="lb"/>
            <p>Freelance Software Engineer, <br class="lb"/> Spring 2017 - Present <br>
            Krys Towers LLC <br><br class="lb"/>
            Building websites and web applications for businesses using HTML, CSS, JavaScript, PHP / WordPress, and NodeJS / Angular depending on the small business's needs.</p>
            <br>
            <br>
           <p> Software Engineer Intern, <br class="lb"/>Summer 2012<br>
            NASA's Jet Propulsion Lab<br><br class="lb"/>
            Worked on software that analyzed the improvement of our team's aerial imagery projection software by measuring the magnitude of shaking in various areas in data sets.
            Added support for png and jpg gile extensions in ground-truthing software</p>
            <br><br>
           <p> Platform/Gameplay Engineer,<br class="lb"/> Fall 2014-Summer 2015<br>
            Woodhouse Media LLC (Polyseum)<br><br class="lb"/>
            Worked on Back-End logic for server registration, server updating, and endpoints for sending gameplay statistics about players from the game server to the back-end NodeJS
            website.</p>
            <br><br>
            <p>Property Management Assistant, <br class="lb"/>Summer 2017 - Present <br>
            Maxson Rd Apts LLC,<br class="lb"/>
            W 5th Street Apartments LLC <br> <br class="lb"/>
            Helping with inspecting repairs and management of multiple large real estate properties.</p>
            <br><br><br class="lb"/>
            <h2>Education</h2>
            <b>University of Southern California</b><br><br>
            <b>Master of Science</b> in Computer Science (General), 2017. GPA: 3.414<br><br/>
            Courses:  Web Technologies, Information Retrieval and Web Search Engines, Security Systems, Multimedia Systems, Database Systems, Compiler Design
            <br><br/><br class="lb"/>
            <b>Bachelor of Science</b> in Computer Science (Games), 2015. In-Major GPA: 3.52<br><br/>
            Some Courses: Programming and Multimedia on the World Wide Web, Artificial Intelligence, Multiplayer Game Programming, Algorithms, Operating Systems, Computer Graphics, Programming System Design, 
            Professional C++, Advanced Mobile Games and Consoles, Computer Graphics, Native Multiplayer Console Development, Programming Game Engines, Video Game Production, Programming System Design
            <br><br><br>
            <h2>Skills</h2>
            Languages: Java, C++, Python, JavaScript, HTML, CSS, SQL, PHP<br><br/>
            Tools/Frameworks: Node.JS, Angular, React-Redux, Git, Solr, Unreal Engine 4, Unity3D, Bootstrap, WordPress, Android Studio<br><br class="lb"/>
            Methodologies: Scrum, Agile Development, Source Control<br>
            <br><br>
            I participate in weekly online programming contests on LeetCode to improve my algorithmic problem solving abilities, and solve problems daily for fun. I post my solutions with explanations in the discussion boards.<br>
            <a href ="https://leetcode.com/seanmsha/" target="_blank">https://leetcode.com/seanmsha/</a><br>
            Example of solution explanation: <a href="https://leetcode.com/problems/all-possible-full-binary-trees/discuss/163433/Java-Recursive-Solution-with-Explanation" target="_blank">https://leetcode.com/problems/all-possible-full-binary-trees/discuss/163433/Java-Recursive-Solution-with-Explanation</a>
        </div>
    
    
    </div>
    </div>
    <Footer></Footer>