<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="mainContainer">
            <h1>Resume</h1>
            <br>
            <br>
            <h2>Work History</h2>
            <br>
            <br>
            Free-Lance Web Developer, Spring 2017-Present <br>
            Krys Towers LLC <br>
            Building websites for businesses using HTML, CSS, JavaScript, and PHP/WordPress or NodeJS with Angular depending on the small business's needs.
            <br>
            <br>
            Software Engineer Intern, Summer 2012<br>
            NASA's Jet Propulsion Lab<br>
            Worked on software that analyzed the improvement of our team's aerial imagery projection software by measuring the magnitude of shaking in various areas in data sets.
            Added support for png and jpg gile extensions in ground-truthing software
            <br><br>
            Platform/Gameplay Engineer, Fall 2014-Summer 2015<br>
            Woodhouse Media LLC (Polyseum)<br>
            Worked on Back-End logic for server registration, server updating, and endpoints for sending gameplay statistics about players from the game server to the back-end NodeJS
            website.
            <br><br>
            <h2>Education</h2>
            <b>University of Southern California</b>
            <b>Master's of Science</b> in Computer Science (General), 2017. GPA: 3.5<br>
            Courses:  Web Technologies, Information Retrieval and Web Search Engines, Security Systems, Multimedia Systems, Database Systems, Compiler Design
            <br>
            <b>Bachelor's of Science</b> in Computer Science (Games), 2015. In-Major GPA: 3.52<br>
            Some Courses: Programming and Multimedia on the World Wide Web, Artificial Intelligence, Multiplayer Game Programming, Algorithms, Operating Systems, Computer Graphics, Programming System Design, 
            Professional C++
            <br><br><br>
            <h2>Skills</h2>
            Languages: JavaScript, Java, CSS, HTML, PHP, C, C++, C#, MySQL
            Tools/Frameworks: Node.JS, Angular, React-Redux, Git, Solr, Unreal Engine 4, Unity3D, Bootstrap, WordPress, Android Studio
            Methodologies: Scrum, Agile Development, Source Control
        </div>
    
    
    </div>
    </div>