<div class="row">
    <div class="d-none d-lg-block col-lg-2">
        <webapplications-sidebar></webapplications-sidebar>
    </div>
    <div class="d-none d-lg-block col-lg-1">
    </div>
    <div class="col-md-12 col-lg-8">
            <div class="mainContainer">
                <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Web-Applications']">Web Applications</a> >> <a [routerLink]="['/Web-Applications/News-Watcher']"> News Watcher</a>
                <br>
                <h1>News Watcher</h1>
                <br>
                <div class="headerContainer">
                    <img [ngClass]="['width500']" src="/images/newswatcher/NewsWatcher700x440.png">
            </div>
                <br>
               
                 <p>{{mainClause}}</p>
                    <br>
                    <br>
                    <div *ngFor="let paragraph of paragraphs">
                        <h2> {{paragraph.title}}</h2>
                        <p>
                            {{paragraph.message}}
                            </p>
                            <br><br>
                    </div>
        </div>
        </div>
    </div>
    <Footer></Footer>