<div class="row">
    <div class="d-none d-md-block col-md-2">
        <webapplications-sidebar></webapplications-sidebar>
    </div>
    <div class="d-none d-md-block col-md-1">
    </div>
    <div class="col-sm-12 col-md-8">
            <div class="mainContainer">
                <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Web-Applications']">Web Applications</a> >> <a [routerLink]="['/Web-Applications/News-Watcher']"> News Watcher</a>
                <br>
                <h1>News Watcher</h1>
                <br>
                <div class="headerContainer">
                    <img src="/images/newswatcher/NewsWatcher700x440.png">
            </div>
                <br>
                <p>Newswatcher is an app where users can register and login to specify settings to get news articles from the New York times based on their selection.</p>
                <br>
                <br>
                <p>

                  </p>
        </div>
        </div>
    </div>