<div class="row">
        <div class="d-none d-lg-block col-lg-2">
                <webapplications-sidebar></webapplications-sidebar>
        </div>
        <div class="d-none d-lg-block col-lg-1">
        </div>
        <div class="col-md-12 col-lg-8">
                <div class="mainContainer">
                    <a [routerLink]="['/']">Home</a> >> <a [routerLink]="[LinkPrefix]">Web Applications</a>
                    <br>
                    <h1>{{mainHeader}}</h1>
                    <br>
                   {{mainParagraph}}<br><br>
                   <PreviewMain [Data]="thisData" [LinkPrefix]="LinkPrefix"></PreviewMain>
                   
            
           
                </div>
        </div>