<!--certbot certonly --webroot --agree-tos --no-eff-email --email seanmakosharma@gmail.com -w ./public -d www.seansharma.com -d seansharma.com-->
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="mainContainer">
        <h1>About</h1>
        <br>
        <p>{{paragraph1}} </p>
        <br>
        <p>{{paragraph2}}
        </p>
        <br>
        <p>Currently, I spend a lot of my free time on leetcode. I participate in the weekly online programming contests to improve my algorithmic problem solving abilities, and solve problems daily for fun. I post my solutions with explanations in the discussion boards.
            Link to Profile:<a href ="https://leetcode.com/seanmsha/" target="_blank">https://leetcode.com/seanmsha/</a><br>
            Example of solution explanation: <a href="https://leetcode.com/problems/all-possible-full-binary-trees/discuss/163433/Java-Recursive-Solution-with-Explanation" target="_blank">https://leetcode.com/problems/all-possible-full-binary-trees/discuss/163433/Java-Recursive-Solution-with-Explanation</a></p>
<br>
        <h2>About the Website</h2>
        <p>
            This one-page website showcases projects built by Sean Sharma. Built with Angular 6, Node.js, JQuery, HTML, CSS, and Javascript.
        </p>
    </div>


</div>
</div>

<Footer></Footer>

