<!--certbot certonly --webroot --agree-tos --no-eff-email --email seanmakosharma@gmail.com -w ./public -d www.seansharma.com -d seansharma.com-->
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="mainContainer">
        <h1>About</h1>
        <br>
        <p>{{paragraph1}} </p>
        <br>
        <p>{{paragraph2}}
        </p>

        <h2>About the Website</h2>
        <p>
            This one-page website showcases projects built by Sean Sharma. Built with Angular 6, Node.js, JQuery, HTML, CSS, and Javascript.
        </p>
    </div>


</div>
</div>

<Footer></Footer>

