

<nav class="navbar navbar-dark fixed-top navbar-expand-lg">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="nav-divider">
        </div>-->
        
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a class="nav-link" [routerLink]="['']" >Home</a></li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" ><a class="nav-link" [routerLink]="['/About']">About</a></li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Websites']">Websites</a></li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Web-Applications']">Web Applications</a></li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects']">Technical Projects</a></li>
               

          </ul>

         <!-- <form class=" my-2 my-lg-0">-->
           <ul class="navbar-nav">
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Contact']">Contact</a></li>
              
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Resume']">Resume</a></li>
              
           </ul>
        <!--  </form>-->
        </div>
        
      </nav>