<div class="sidebar">
        <ul class="sidebar-list">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/websites']"><h1>Websites</h1></a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Krys-Towers-Web-Development']">Krys Towers Web Development</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/850-Warwick-Apartments']">850 Warwick Apartments</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/The-Head-Parsers']">Head Parsers Gaming</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Cooking-For-Sean']">Cooking For Sean</a></li>
          </ul>

</div>