<div class="sidebar">
        <ul class="sidebar-list">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Websites']"><h1>Websites</h1></a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Websites/Krys-Towers-Web-Development']">Krys Towers Web Development</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Websites/850-Warwick-Avenue-Apartments']">850 Warwick Apartments</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Websites/Head-Parsers-Gaming']">Head Parsers Gaming</a></li>
                   </ul>

</div>