<div class="row">
    <div class="d-none d-lg-block col-lg-2">
        <projects-sidebar></projects-sidebar>
    </div>
    <div class="d-none d-lg-block col-lg-1">
    </div>
    <div class="col-md-12 col-lg-8">
            <div class="mainContainer">
                <a [routerLink]="['/']">Home</a> >> <a [routerLink]="['/Projects']">Projects</a> >> <a [routerLink]="['/Projects/Polyseum']">{{header}}</a>
                <br>
                <h1>{{header}}</h1>
                <br>
                <div class="headerContainer">
                        <img class="width500" src="{{images[1]}}">
                </div>
                <br>
                <p>A networked first person shooter with knock back mechanics.  A more indepth summary on the project can be found at: <a href="http://www.polyseum.com">www.polyseum.com</a> along with a trailer.</p>
                <p>Teams of 3 face off against eachother in a variety of game modes that are tied to maps. Choosing a weapon before the match is like choosing what position you want to play, and you stick to it for the duration of the match.</p>
                
                <iframe width="420" height="315"
          src="https://www.youtube.com/embed/5mzwssUyQB8">
          </iframe>
                <br>
                Some of my responsibilities were:
                <ul>
                    <li>Implementing general programming gameplay/network code</li>
                    <li>Implementing assists/kills/death tracking and UI logic</li>
                    <li>Sent over C++ Metrics per round and match types to the backend website</li>
                    <li>Implementing new modes such as Areana, VIP Arena, Capture the Flag, and VIP Capture the Flag</li>
                    <li>I helped make the architecture for the entire game at the beginning of the year</li>
                    </ul>
                
                <p>

                  </p>
        </div>
        </div>
    </div>